#main-heading {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

#playerInputs {
    width: 50%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.playerButton {
    background-color: rgb(206, 206, 206);
    border: none;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    padding: 0.7rem;
    transition: all 0.2s;
}

.playerButton:hover {
    transform: scale(1.1);
    color: rgb(119, 115, 115);
    box-shadow: 0 0 0.2rem 0 rgb(155, 155, 155);
}

#rounds {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}

#points {
    text-align: center;
    font-family: "PT Sans", sans-serif;
}

#announcer {
    text-align: center;
    font-family: "PT Sans", sans-serif;
}

#dema {
    width: 70%;
}